MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=

NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
BACKEND_URL=http://backend:8000
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
